<ion-view title="Login">
  <ion-content>
    <ion-list>
      <ion-item>
        <label>
          <span class="input-label">Email</span>
        </label>
        <input type="text" placeholder="Digite o seu email" ng-model="form.email">
      </ion-item>
      <ion-item>
        <label>
          <span class="input-label">Senha</span>
        </label>
        <input type="password" placeholder="Digite a senha" ng-model="form.senha">
      </ion-item>
      <div class="padding" ng-if="form.mensagens.length">
        <ul>
          <li ng-repeat="mensagem in form.mensagens">{{ mensagem }}</li>
        </ul>
      </div>
      <div class="padding">
        <button class="button button-block button-balanced" ng-click="login()">Login</button>
        <button class="button button-block button-balanced" ng-click="cadastroUsuario()">Cadastro</button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
